* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.2);
}

.tile {
    max-width: 400px;
    width: 80%;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}

.footer {
    background: black;
    color: white;
    box-shadow: inset 0px 0px 12px 0px;
    min-height: 300px;
    width: 100%;
    margin-top: 150px;
}

.extra-margin-top-20 {
    margin-top: 20px;
}

.contact-card {
    max-width: 300px;
}

.contact-card-header {
    font-weight: bold;
    margin: 15px 0;
}

@media (min-width: 992px) {
    .col-md-6-right {
        text-align: right;
    }
}